<head>
    <title>Fandom Map</title>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
      content="507651740228-f5clg8q3qlf66se0e40m5p2hthr4djtb.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/konva@8.3.2/konva.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  
  </head>
  <div id="c" style="position: fixed"></div>
  <script>
    var  count=0
  Konva.hitOnDragEnabled = true;
  stage = new Konva.Stage({
    container: 'c',
    width: window.innerWidth,
    height: window.innerHeight,
  });
  layer = new Konva.Layer();
  
  stage.add(layer) 
    stage.on('click', function () {
          var pos = stage.getPointerPosition();
          var shape = new Konva.Circle({
            x: pos.x,
            y: pos.y,
            fill: 'blue',
            radius: 20,
            id:count.toString()
          });
  
  
        layer.add(shape)
        count+=1
  fakeml()
  
  })
  function fakeml(){
    smollest=false
    coord=[]
    stage.find('Circle').forEach(function(e){
    coord.push([e.id().toString(),e.x(),e.y()])
  })
  routes=perm(coord)
  console.log(routes.length)
  routes.map(x => {
      temp = 0
      connect=''
      x.forEach(function (e, i) {
        connect+=e[0]+'>'
        if (x[i + 1]) temp += getDistance2(e, x[i + 1])
      })
      if(!smollest||temp==Math.min(smollest[1],temp)) smollest=[connect,temp]
    })
  stage.find('Arrow').forEach(function(e){e.destroy()})
  shortest=smollest[0].split('>')
  shortest.forEach(function(e,i){
    if(shortest[i+1]) {
      var line = new Konva.Arrow({
              strokeWidth: 5,
              stroke: 'black',
              fill: 'black',
            });
            layer.add(line);
            line.points(getConnectorPoints(
              layer.findOne('#' +e.toString()).position(),
              layer.findOne('#' + shortest[i + 1].toString()).position()
            ))
          }
  })
  layer.batchDraw()
  }
  function perm(xs) {
          let ret = [];
          for (let i = 0; i < xs.length; i = i + 1) {
              let rest = perm(xs.slice(0, i).concat(xs.slice(i + 1)));
              if (!rest.length) ret.push([xs[i]])
              else for (let j = 0; j < rest.length; j = j + 1)ret.push([xs[i]].concat(rest[j]))
          }
          return ret;

      }
      function getDistance2(a, b) {
      return Math.sqrt((b[2] - a[2]) ** 2 + (b[1] - a[1]) ** 2);
    }
  function dist(a,b){return Math.sqrt((b[1]-a[1])**2+(b[0]-a[0])**2)}
   function getConnectorPoints(from, to) {
      let angle = Math.atan2(from.y - to.y, to.x - from.x);
      const radius = 20;
      return [
        from.x + -radius * Math.cos(angle + Math.PI),
        from.y + radius * Math.sin(angle + Math.PI),
        to.x + -(radius + 10) * Math.cos(angle),
        to.y + (radius + 10) * Math.sin(angle),
      ];
    }
  </script>